version: '3.9'

services:

  postgres:
    image: postgres:15
    container_name: samaira_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: samaira_redis
    restart: always
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: samaira_backend
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "8000:8000"
  volumes:
    - ~/.aws:/root/.aws:ro

  frontend:
    build: ./frontend
    container_name: samaira_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

  airflow-init:
    image: apache/airflow:2.9.1
    env_file:
      - .env
    depends_on:
      - postgres
    entrypoint: >
      /bin/bash -c "
      airflow db init &&
      airflow users create
        --username admin
        --firstname Samaira
        --lastname Admin
        --role Admin
        --email admin@samaira.local
        --password admin
      "

  airflow-webserver:
    image: apache/airflow:2.9.1
    container_name: samaira_airflow_web
    restart: always
    env_file:
      - .env
    depends_on:
      - airflow-init
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.9.1
    container_name: samaira_airflow_scheduler
    restart: always
    env_file:
      - .env
    depends_on:
      - airflow-init
    command: scheduler

volumes:
  postgres_data:
